/* I want to manage margins and padding myself, and prefer sans-serif fonts. */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #636363; /* sky- */
}

body {
    background-color: #fff7ed; /* sun */
}

/* Get rid of link decorators. */
a {
    text-decoration: inherit;
    color: inherit;
}

nav {
    padding-left: 8px;
    background-color: #f2e6d4; /* sun- */
    display: flex;
    flex-direction: column;
}

.nav-header {
    height: 64px;
    display: flex;
    align-items: center;
}

.nav-header a {
    flex-grow: 1;
}

.show-links {
    width: 64px;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    line-height: 64px;
}

.show-links:hover {
    background-color: #fffdfb; /* sun+ */
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav li {
    padding-top: 4px;
    padding-bottom: 4px;
}

nav li:hover {
    background-color: #fffdfb; /* sun+ */
}

main {
    padding-top: 16px;
    padding-left: 8px;
}
