/* I want to manage margins and padding myself, and prefer sans-serif fonts. */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: white; /* Testing color */
}

/* Get rid of link decorators. */
a {
    text-decoration: inherit;
    color: inherit;
}

nav {
    padding-left: 8px;
    background-color: red; /* Testing color */
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: green; /* Testing color */
    height: 64px;
    display: flex;
    align-items: center;
}

.nav-header a {
    flex-grow: 1;
}

.show-links {
    background-color: maroon; /* Testing color */
    width: 64px;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    line-height: 64px;
}

.show-links:hover {
    background-color: pink; /* Testing color */
    cursor: pointer;
}

.nav-links {
    background-color: chartreuse; /* Testing color */
    list-style-type: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav li {
    padding-top: 4px;
    padding-bottom: 4px;
}

nav li:hover {
    background-color: magenta; /* Testing color */
}

main {
    padding-top: 16px;
    padding-left: 8px;
}
